
body
{
  background-color: #ffffdd;
  font-family: Georgia, Times, serif;
}

hr
{
  background-color: #inherit;

  border-style:none;
  border-top-style: dotted ;
  border-color : #006a71;
  border-width :25px ;
  width : 10%;


}
input
{
  background-color: #ffffdd;
  border-style: dotted;
border-color : #006a71;
  border-width :3px;

}
textarea
{
  background-color: #ffffdd;
  border-style: solid;
border-color : #006a71;
  border-width :3px;
}
